[Unit]
Description="CodeXL Remote Agent"
Wants=connman-wait-online.service
After=connman-wait-online.service

[Service]
Type=simple
Restart=always
ExecStart=/opt/codexl/codexl_remote_agent.sh start
ExecStop=/opt/codexl/codexl_remote_agent.sh stop
WorkingDirectory=/opt/codexl
User=root

[Install]
WantedBy=multi-user.target
