[Unit]
Description="Radeon Developer Service CLI"
Wants=connman-wait-online.service
After=connman-wait-online.service

[Service]
Type=simple
Restart=always
ExecStartPre=/bin/rm -f /dev/shm/sem.D0939873-BA4B-4C4E-9729-D82DED85BC41
ExecStart=/usr/bin/RadeonDeveloperServiceCLI

[Install]
WantedBy=multi-user.target
